<header class="header">
  <div class="header__left">
    <h1 class="header__title">{{ boardName }}</h1>
  </div>
  
  <div class="header__right">
    <button 
      class="btn btn--primary btn--large add-task-btn" 
      [routerLink]="['/boards', currentBoardId, 'tasks', 'new']"
      [disabled]="!currentBoardId">
      + Add New Task
    </button>
    <button class="header__options-btn" (click)="goToSettings()">
      <img src="assets/icon-vertical-ellipsis.svg" alt="Options" />
    </button>
  </div>
</header>
