.header {
  height: var(--header-height);
  background-color: var(--bg-sidebar);
  border-bottom: 1px solid var(--lines);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 24px 0 32px;
  transition: background-color var(--transition-normal), border-color var(--transition-normal);
}

.header__left {
  display: flex;
  align-items: center;
}

.header__title {
  color: var(--text-primary);
  margin: 0;
}

.header__right {
  display: flex;
  align-items: center;
  gap: 24px;
}

.header__options-btn {
  background: transparent;
  padding: 8px 16px;
  margin-right: -16px;
}
