<header class="header">
  <div class="header__left">
    <h1 class="header__title">{{ boardName }}</h1>
  </div>
  
  <div class="header__right">
    <button 
      class="btn btn--primary btn--large add-task-btn" 
      [routerLink]="['/boards', currentBoardId, 'tasks', 'new']"
      [disabled]="!currentBoardId">
      + Add New Task
    </button>
    
    <div class="options-container">
      <button class="header__options-btn" (click)="toggleMenu($event)">
        <img src="assets/icon-vertical-ellipsis.svg" alt="Options" />
      </button>

      <!-- Floating Menu -->
      <div class="options-menu" *ngIf="isMenuOpen" (click)="$event.stopPropagation()">
        <button (click)="onEditBoard()">Edit Board</button>
        <button class="destructive" (click)="onDeleteBoard()">Delete Board</button>
      </div>
    </div>
  </div>
</header>
