<div *ngIf="isLoading" class="loading-bar">
  Loading...
</div>
<div class="app-layout" [class.sidebar-closed]="!isSidebarOpen">
  <app-sidebar *ngIf="isSidebarOpen" class="app-sidebar"></app-sidebar>
  
  <div class="app-main">
    <app-header class="app-header"></app-header>
    
    <main class="app-content">
      <router-outlet></router-outlet>
      

      <button class="show-sidebar-btn" *ngIf="!isSidebarOpen" (click)="toggleSidebar()">
        <img src="assets/icon-show-sidebar.svg" alt="Show Sidebar" />
      </button>
    </main>
  </div>
</div>

<!-- Global Confirmation Modal -->
<app-confirmation-modal
  *ngIf="modalService.getModalState() | async as options"
  [title]="options.title"
  [message]="options.message"
  [isDestructive]="options.isDestructive || false"
  (onConfirm)="modalService.confirm()"
  (onCancel)="modalService.cancel()"
></app-confirmation-modal>
